
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Slimy;
  src: url(../public//assets/fonts/Slimy\ font.otf);
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  font-size: 50px;
}

body {
  background-image: url("../public/images/bg/monster-bg.jpg");
  background-size: cover;
  background: cover;
  color: rgb(15, 224, 40);
  text-shadow: 20% black;
  border: 1vw black solid;
  height: 100vh;
  width: 100vw;
  font-family: Slimy;
  word-spacing: 4px;
  -webkit-text-stroke-color: #282c34;
  -webkit-text-stroke-width: 1px;
}
